.grid-1 {
    display:inline;
    float:left;
    position:relative;
    margin-left:10px;
    margin-right:10px;
    /*border: solid black;*/
    background-color: #999999;
}

/* Grid Layout is four columns wide. */

.grid .grid-1 {
    width: 220px;
}


/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.layout {
    *zoom: 1;
}

.layout:before,
.layout:after {
    content: "";
    display: table;
}

.layout:after {
    clear: both;
}