.grid-1, .grid-2, .grid-3, .grid-4 {
    display:inline;
    float: left;
    position:relative;
    margin-left:10px;
    margin-right:10px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

/* Grid Layout is four columns wide. */

.grid .grid-1 {
    width: 220px;
    background-color: #999999;
}

.grid .grid-2 {
    width: 460px;
    background-color: #999999;
}

.grid .grid-3 {
    width: 700px;
    background-color: #999999;
}

.grid .grid-4 {
    width: 940px;
    background-color: #999999;
}


/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.layout {
    *zoom: 1;
}

.layout:before,
.layout:after {
    content: "";
    display: table;
}

.layout:after {
    clear: both;
}