html {
    background-color: #181818;  
}

body {
    color: #666;
    min-width:960px;
}

h1 {
    
}

h2 {
    
}

#wrapper {
    position: relative;
    width:    960px;
    margin:   0 auto;
    padding:  200px 0;
}

#main {
    height:   300px;
    text-align: center;
    background-color: #999999;
    
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#about {
    height:   200px;
    width: 200px;
    text-align: center;
    background-image: url('../image/about.png');
    background-repeat: no-repeat;

    -moz-border-radius: 15px;
    border-radius: 15px;
}

#facebook {
    height:   200px;
    width: 200px;
    text-align: center;
    background-image: url('../image/fbLogo.png');
    background-repeat: no-repeat;
    
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: relative;
    transition: background-image 1.25s ease-in-out;
    -moz-transition: background-image 1.25s ease-in-out;
    -webkit-transition: background-image 1.25s ease-in-out;
}

#facebook:hover {
    background-image: url('../image/resume.png');
    background-repeat: no-repeat;
}

#facebook a {
    position: absolute;
    top: 0;
    left: 0;
    height: 200;
    width: 220;
}

#facebook a h1 {
    visibility: hidden;
}

#resume {
    height:   200px;
    width: 200px;
    text-align: center;
    background-image: url('../image/resume.png');
    background-repeat: no-repeat;
    
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#long {
    height:   80px;
    text-align: center;
    margin-top: 20px;
    background-color: #999999;
    
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#photos {
    height:   200px;
    text-align: center;
    margin-top: 20px;
    background-color: #999999;
    
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#linkedIn {
    height:   200px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    background-image: url('../image/linkedIn.png');
    background-repeat: no-repeat;
    
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#linkedIn a {
    position: absolute;
    top: 0;
    left: 0;
    height: 200;
    width: 220;
}

#linkedIn a h1 {
    visibility: hidden;
}

#contact {
    height:   200px;
    text-align: center;
    margin-top: 20px;
    background-color: #999999;
    
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/*#twitter {
    height:   200px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    background-image: url('../image/twitter.png');
    background-repeat: no-repeat;
    
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#twitter a {
    position: absolute;
    top: 0;
    left: 0;
    height: 200;
    width: 220;
}

#twitter a h1 {
    visibility: hidden;
}*/


/* TWITTER CONTAINER */
.twitter-feed
{
    margin    				: 20px 0px 0px 20px;
	padding		 			: 0px 0px 0px 0px;  
	position				: relative;
	background				: url('../image/twitter.png') top left no-repeat;
    background-repeat: no-repeat;
	width					: 200px;	
	height					: 200px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
/* TWITTER LIST */
ul#twitter_update_list
{
	margin					: 0px 0px 0px 0px;
	padding 				: 22px 25px 0px 35px;
	list-style				: none;
}
ul#twitter_update_list li
{
	padding 				: 0px 0px 5px 0px;
	margin					: 0px 0px 0px 0px;
	display					: none; /* Prevents the entire feed list from showing momentarily on page load */
}
.twitter-feed span
{
    font-size				: 14px;
	color					: #009BCD;
	display					: block;
	line-height				: 1.3em;
}
/* TWITTER FEED LINKS */
.twitter-feed span a
{
	color					: #3CCEFF;
	text-decoration			: none;
}
.twitter-feed span a:hover
{
	color					: #3CCEFF;
	text-decoration			: underline;
}
/* OTHER LINKS */
.twitter-feed a
{
	color					: #777;
	text-decoration			: none;
}
.twitter-feed a:hover
{
	color					: #AAA;
	text-decoration			: none;
}
/* TWITTER BIRD */
.twitter-bird
{
    margin					: 105px -8px 0px 0px;
	padding		 			: 0px 0px 0px 0px;  
	position				: absolute;
	top						: 0;
	right					: 0;	
	line-height				: 3.5em;
	background				: url('../images/twitter-bird.png') top right no-repeat;
	width					: 100px;	
	height					: 50px;
}
.twitter-bird:hover
{	
	background				: url('../images/twitter-bird-hover.png') top right no-repeat;
}

/*
#twitter_list {
   min-height:45px;
   height:auto !important;
   height:40px;
   padding-bottom:10px;
}

#twitter_updates {
   width: 415px;
   padding: 0;
   overflow: hidden;
   font-family: Georgia;
   font-size: 14px;
   font-style: italic;
   color: #31353d;
   line-height: 16px;
   font-weight:bold;
}

#twitter_updates li {
   width: 415px;
   list-style: none;
}

#twitter_updates li a {
   color: #5f6d76;
   border-bottom: dotted 1px;
   text-decoration: none;
}

#twitter_updates li a:hover {
   color: #31353d;
   background: #d3f1f9;
}

header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*/