html {
    background-color: #181818;  
}

body {
    color: #666;
    min-width:960px;
}

h1 {
    
}

h2 {
    
}

#wrapper {
    position: relative;
    width:    960px;
    margin:   0 auto;
    padding:  100px 0;
}

#main {
    height:   400px;
    text-align: center;
}

#me {
    height:   300px;
    text-align: center;
}

#facebook {
    height:   300px;
    text-align: center;
}

#resume {
    height:   300px;
    text-align: center;
}

#long {
    height:   80px;
    text-align: center;
}

header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}